#footer {
    background: #010188;
    padding: 50px 0;
    color: #ffffff;
  }

#heading-breadcrumbs {
    background: #010188;
}

#heading-breadcrumbs > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > h1:nth-child(1) {
    color: #ffffff;
}

.jumbotron {
    background: url('../img/carousel/eagle-falls.jpg') center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-carousel {
    background: url('../img/carousel/eagle-falls.jpg') center center;
    background-repeat: no-repeat;
    background-size: cover;
}